*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #060325;
    color: rgb(2,0,12);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 247px;
    height: 347px;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(0deg, rgb(109,18,60), rgb(45,2,85));
    border-radius: .8rem;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.card:hover {
    color: rgb(78,220,255);
}

.container {
    display: grid;
    place-items: center;
    position: relative;
    width: 255px;
    height: 355px;
    border-radius: 1rem;
    background: linear-gradient(50deg, rgb(71, 95, 3), rgb(41, 14, 48));
    overflow: hidden;
}

.container::before{
    content: "";
    position: absolute;
    width: 450px;
    height: 35px;
    border-radius: 1rem;
    top: 0; 
    right: 35px;
    transition: 1.9s;
    background: linear-gradient(50deg, rgb(181,243,9), rgb(218,70,255));
    transform: rotate(-45deg) translate(0, -100px);
}

.container:hover::before {
    animation: cardEffect 1.9s;
}

@keyframes cardEffect {
    100% {
        transform: rotate(-45deg) translate(0, 450px);
    }
}
